<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="IshCedveliConnectionString" connectionString="Data Source=192.168.1.1;Initial Catalog=IshCedveli;Persist Security Info=True;User ID=sa;Password=minaadmin!" providerName="System.Data.SqlClient" />
    <!--
      <add name="IshCedveliConnectionString" connectionString="Data Source=.;Initial Catalog=IshCedveli;Integrated Security=True"
      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: {f48cb149-6791-4b1f-96c8-89689b6fcdb1}-->